html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body  {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.099);
    /* background-image: url(pdx.jpg); */
    background-repeat: no-repeat;
    background-position: center;    
}
.head {
    background-image: url(pdx.jpg)
}


.menu {
    background-color:rgba(0, 0, 0, 0.703);

    /* gap: 1vh; */
    /* font-size: 6vh; */
    /* top: 0; */
    width: 100vw;
    /* padding: 2vh; */
    /* padding-bottom: 2.25vh; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.scrollstick {
    background-color: 1vh rgba(0, 0, 0, 0.481);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 1vh purple
  }

  .scrollstick + .content {
    padding-top: 102px;
  }


.body {
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.278);
    display: flex;
    flex-direction: column;
    background-image: url(pdx.jpg);
    background-size: cover;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.about-banner {
    background-repeat: no-repeat;
    background-position: stretch;
    /* background-image: url(pdx.jpg); */
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    font-family: monospace;
    align-content: center;
    justify-content: center;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}
.refresh {
    /* margin-bottom: 70vh; */
    font-size: 1.5vh;
    /* text-shadow:0 0 1vh rgba(0, 0, 255, 0.414); */
    color: rgba(255, 255, 255, 0.71);
    font-family: monospace;
    font-weight: 800;
    padding: .5vh;
    background-color:rgba(0, 0, 255, 0.143);
    text-transform: uppercase;
    position: fixed;
    /* text-align: right; */
    border: .5vh solid rgba(255, 255, 255, 0.366);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.579);
}
.picture {
    justify-content: center;
    text-align: center;

    /* width: 25vh; */
    /* height: 25vh; */
    align-content: center;
}
.picture img {
    margin-top: 15vh;
    margin-left: 6.25vh;
    margin-right: 6.25vh;
    width: 25vh;
    height: 25vh;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    border: .5vh solid rgba(0, 0, 255, 0.143);
    box-shadow: 0 0 1vh black;
    border-radius: 100vh;
}
.tagline {
    font-size: 5vw;
    box-shadow: 0 0 1vh rgba(0, 0, 255, 0.143);
    margin-bottom: 1vh;
    /* text-shadow: 0 0 1vh black;  */
    /* font-style: italic;  */
    background-color:rgba(0, 0, 255, 0.143);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-banner h1 {
    font-weight: 750;
    letter-spacing: .5vh;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.993);
    /* text-shadow: 0 0 1vh rgb(0, 0, 255);s */
    font-size: 7vw;
}
.about-banner h2 {
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.637);
    text-align: center;
    font-size:3.5vw;
    background-color: rgba(255, 255, 255, 0.156);
    color: rgb(249, 249, 249);
    text-shadow: 0 0 1vh rgb(0, 0, 255);
}
.about-banner nav {
    box-shadow:rgba(0, 0, 0, 0.099);
    /* padding: .2vh; */
    /* gap: 1vh; */
    border: .8vh solid rgba(0, 0, 0, 0.126);
    /* margin: .5vh; */
    /* background-color:rgba(255, 255, 255, 0.166); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a {
    margin: 1vh;
    padding: .2vh;
    /* text-shadow:0 0 1vh rgb(255, 255, 255); */
    color:rgb(191, 189, 198);
    text-decoration: none;
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.175);
    background-color: rgba(5, 3, 3, 0.342);
    font-size: 2.8vw;
    border-radius: 5vh;
    font-style: none;
    font-family: monospace;
    font-weight: 650;
}

nav a:hover {
    text-transform: uppercase;
    box-shadow: 0 0 1vh purple;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1vh rgb(0, 0, 0)
}

.social-media {
    /* gap:1vh; */
    /* margin-right: 5vh; */
    /* margin-top: 2.5vh; */
    /* text-align:left; */
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nounderline {
    text-decoration: none;
}

.social-media i {
    box-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.211);
    background-color:rgb(80, 144, 222);
    padding: .70vh;
    margin-bottom: 1vh;
    border-radius: 100vw;
    border: .1vh solid rgb(255, 255, 255);
    font-size:5vw;
}

.social-media i:hover {
    text-shadow: 0 0 1vh rgb(255, 120, 143);
    box-shadow: 0 0 1vh rgb(255, 125, 147);
}

main {
    gap: 2vh;
    background-image: url(pdx_crop.jpg);
    background-size: cover;
    /* line-height: 4vh; */
    font-family: monospace;
    font-weight: 500;
    letter-spacing: .15vh;
    /* padding: 5vh; */
    margin: 1vh;
    text-align: center;
    justify-content: center;
    font-size:2vh;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color:rgba(248, 248, 248, 0.389);
    /* width: 50vh; */
    /* height: 50vh; */
}

main a {
    font-weight: 750;
    /* color: #fdfd07; */
    text-shadow: 0 0 1vh rgb(62, 7, 7);
    padding: 1vh;
}

.projects {
    /* background-color:rgba(65, 12, 255, 0.244); */
    /* margin: 0; */
    /* width: 90%; */
    /* height: 200vh; */
}

main h1 {
    font-family: monospace;
    color: white;
    text-shadow: 0 0 1vh black;

}
main p {
    font-size: 3.5vw;
    padding: 8vw;
    font-weight: 650;
    letter-spacing: .1vh;
    font-family: monospace;
    color: white;
    text-shadow: 0 0 1vh black;

}

.slide {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

video {
    padding: 1vh;
    height: 100%;
    width: 100%;

}

audio {
    /* margin-left: 27.5vw; */
    /* margin-top: 92.5vh;  */
    text-align: right;
    display: block;
    /* position: fixed; */
    color:rgb(249, 249, 249);
}

.about {
    text-shadow: 0 0 1vh black;

    background-image: url(pdx.jpg);
    font-family: monospace;
    gap: 1vh;
    padding:.8vh;
    background-color:rgba(0, 0, 0, 0.375);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* width: 100%; */
    justify-content: space-between;
}

.about1 img {
    width: 100%;
    /* height: 100%; */
}

.about1 {
    color: white;
    gap: .8vh;
    font-family: monospace;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}


.about-box {
    text-shadow: 0 0 1vh black;
    /* width: 100%; */
    letter-spacing: .35vh;
    /* width: 75vw; */
    font-size: 5vh; 
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.61);
    font-family: monospace;
    text-align: center;
    padding: 1vh;
    justify-content: space-around;
}

.about-box h2 {
    /* color:rgb(50, 50, 169); */
    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-size: 8vh;
}

.about-text {
    text-shadow: 0 0 1vh black;

    font-size: 2vh;
    font-family: monospace;
    text-align: center;
    margin: .8vh;
    /* justify-content: center; */
}

.about-header {

    background-color:#10100480;
    align-items: baseline;

    text-shadow: 0 0 1vh black;
    font-family: monospace;
    justify-content: center;
    color: white;

    /* background-color: rgb(201, 69, 69); */
    /* margin: 0; */
    padding: .5vh;
    /* text-align: center; */
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: monospace;

    font-size: 2vh;
}

.about-header h1 {
    font-size: 2vh;
    font-style: oblique;
    align-content: center;
}

.about-header p {
    text-shadow: 0 0 1vh black;
    /* color: yellow; */
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: baseline;
    font-size: 3vh;
}

.about-header h2 {
    text-shadow: 0 0 1vh rgba(131, 57, 250, 0.614);
    
    font-family: monospace;

    color: rgb(255, 255, 255);
    font-size:5.25vw;
}

.home-banner{
    /* width: 25%; */
    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-size: 2.9vh;
    /* color: rgba(62, 6, 6, 0.59); */
    margin: .9vh;
    gap:1vh;
    padding: 1vh;
    /* background-color: white; */
}

.about2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section {
    font-family: monospace;

    /* margin:0; */
    /* padding: 0; */
    /* margin-top: 12.5%; */
    /* margin-bottom: 12.5%; */
    /* margin-left: 12.5%; */
    /* margin-right: 12.5%;  */
    /* height: 50%; */
    /* width: 50%; */

}

.maps iframe{
    /* justify-content: center; */
    /* text-align: center; */
    /* align-content: center; */
    /* margin: 0; */
    height: 100%;
    width: 100%;
}

.title {

    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
    letter-spacing: .2vh;
    /* color: rgba(159, 0, 0, 0.782); */
    padding: 3vh;
    background-color:rgba(80, 144, 222, 0.407);
    text-align: center;
    font-size: 3.8vh;
    text-transform: capitalize;
}



.section {
    color: white;
    font-size: 2.2vh;
    /* background-image: url(IMG_4949.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    gap: 1vh;
    padding:.8vh;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    justify-content: flex-start;

}

.exp-header {
    background-color:#10100480;

    text-shadow: 0 0 1vh black;
    font-family: monospace;

    color: white;

    /* background-color: rgb(201, 69, 69); */
    /* margin: 0; */
    padding: .5vh;
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: monospace;
    justify-content: center;
    font-size: 2vw;
}

.exp-header h1 {
    font-size: 3.5vw;
    font-style: oblique;
    font-family: monospace;

}


.exp-header h2 {
    text-shadow: 0 0 1vh rgba(131, 57, 250, 0.614);

    font-family: monospace;

    color: rgb(255, 255, 255);
    font-size:3.25vw;
}

.exp-header p {
    color: rgb(47, 47, 39);
    font-size: 2.5vw;
}
.exp-body {
    width: 100%;
    /* height: 150vh; */
    /* background-color: rgba(99, 14, 159, 0.277); */
    padding: 1.05vh;
}

.about-left {
    display: flex;
    flex-direction: row;
}

.exp-body h1 {
    text-shadow: 0 0 1vh white;
    font-size:2.75vw;
    padding: .8vh;
    padding-top: 3vh;
    border-radius: 1vh;
    /* background-color: rgba(27, 255, 19, 0.179); */
}

._94info {
    /* padding-bottom: 4vh; */
    /* background-image: url("mil.jpg"); */
    background-size: 100%;
}

._94info p {
    font-size: 2.5vw;
}
._94info article {
    background-color:rgba(217, 217, 236, 0.696);
    padding: 2vh;
    /* padding-bottom: 3vh; */
}
.gap {
    padding: 5vh;
}

.farminfo {
    /* background-image: url("farm.jpg") */
    
}

.farminfo article {
    background-color:rgba(217, 217, 236, 0.696);
    padding: 2vh;
}

article h2, article h3 {
    font-size: 2.5vw;
}

.body_p {
    background-color:rgba(27, 27, 30, 0.687);
}

.gfu {
    /* background-image: url("IMG_7691.JPG"); */
}

.gfu article {
    background-color:rgba(217, 217, 236, 0.696);
    padding: 2vh;
}

.ace {
    /* background-image: url("ace.jpg") */
}

.ace article {
    background-color:rgba(217, 217, 236, 0.696);

    padding: 2vh;
}
.exp-body p {
    background-color: whitesmoke;
    font-weight: 950;
    color:#101004;
    font-family: monospace;
    text-align: left;
    font-size: 2.5vw;
    padding-left: 5.1vh;

}
.exp-body h4, .practicum h4 {
    font-weight: 850;
    /* color:#fdfd07; */
    font-family: monospace;
    text-align: left;
    font-size: 2.5vw;
    /* padding-left: 5.1vh;s */
}

.projects {
    /* background-image: urL(324.JPG); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide {
    justify-content: center;
}

.slide h1, .practicum h1 {
    
    font-family: monospace;

    padding:  1vh;
    text-shadow: 0 0 1vh rgb(255, 248, 248);
    color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0.636);
    font-size: 5vh;
}

.slide p {
    /* text-shadow: 0 0 1vh black; */
    /* line-height: 3.5vh; */
    /* letter-spacing: .2vh; */
    padding: 7.5vh;
    padding-left: 1vh;
    font-weight: 650;
    text-align: left;
    color: rgb(0, 0, 0);
    background-color:rgba(252, 252, 252, 0.8);
    font-family: monospace;

    /* padding: 5vh; */
    margin: 1vh;
    font-size: 2.5vw;
    /* padding: 5vh */
}

.slide h4, .practicum h4 {
    /* text-shadow: 0 0 1vh black; */
    /* color: white; */
    font-size: 2vw;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.249);
}

.experience {

    width: 100%;
    height: 100%;
}

.projects-header {
    background-color:#10100480;

    font-family: monospace;

    /* color: rgb(255, 0, 0); */

    /* background-color: rgba(201, 69, 69, 0.907); */
    margin: 0;
    /* padding: .8vh; */
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: monospace;
    justify-content: center;
    font-size: 2vh;
}

.projects-header p {

    padding: 1vh;
    margin: 0;
    /* color: yellow;s */
    /* height: 100%; */
    text-align: center;
    display: flex;
    /* justify-content: stretch; */
    font-size: 2.5vh;
}

.projects-header h1 {
    padding: 1vh;
    font-family: monospace;
    font-style: italic; 
        /* margin: 0; */
    color: rgb(255, 2, 2);
    font-size: 1.5vw;
}
.projects-header h2 {
    text-shadow: 0 0 1vh rgba(131, 57, 250, 0.614);

    font-family: monospace;

    color: rgb(255, 255, 255);
    font-size:5.25vw;
}



.practicum {
    font-family: monospace;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.practicum p {
    text-shadow: 0 0 1vh black;
    /* line-height: 3.5vh; */
    letter-spacing: .2vh;
    padding: 7.5vh;
    padding-left: 1vh;
    font-weight: 550;
    text-align: left;
    color: white;
    /* background-color:rgba(80, 222, 125, 0.241); */
    font-family: monospace;

    /* padding: 5vh; */
    margin: 1vh;
    font-size: 2.5vw;
    /* padding: 5vh */
}




.practicum img {

    margin: 4vh;
    height: 50%;
    border: .5vh solid rgba(228, 58, 58, 0.256);
    padding: .2vh;
    width: 33.33%
}

.box {
    /* gap: auto; */
    /* width: 100%; */
    /* height: auto;s */
    font-weight: 550;
    padding: 1vh;
    font-family: monospace;
    font-size: 1.8vh;
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.691);
}



.box h2 {
    text-align: center;
    font-size: 4.8vh;
}

.box {
    display: flex;
    text-align: center;
}

.box p {
    /* color:rgb(127, 255, 212); */
    font-size: 2.8vw;
    font-style:oblique;
    padding-left: 1vh;
    /* text-indent: 1vh; */
}

.blurb {
    text-shadow: 0 0 1vh black;
    text-align: left;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(33, 12, 12, 0.379);
    /* margin: 1vh; */
    padding-left:2.5vh;
    padding-right:2.55vh;
}
.blurb ul {
    
    font-weight: 550;
    gap: 1vh;
    text-shadow: 0 0 1vh rgb(248, 15, 15);
    text-transform: uppercase;
    font-size: 5vw;

}

.blurb li {
    font-family: monospace;
    text-shadow: 0 0 1vh rgb(0, 21, 255);
    text-transform: lowercase;
    font-size: 3.5vw;

}

.blurb h1 {
    font-size: 5vw;
    text-shadow: 0 0 1vh black;
    font-weight: 250;
    letter-spacing: .6vh;
    padding: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.188);
}
.awards-header {
    background-color:#10100480;

    text-shadow: 0 0 1vh black;
    font-family: monospace;

    color: white;

    /* background-color: rgba(201, 69, 69, 0.907); */
    margin: 0;
    /* padding: .8vh; */
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: monospace;
    justify-content: center;
    font-size: 2vh;
}
.awards-header h1 {
    font-size: 2.8vh;
    font-style: oblique;
    font-family: monospace;

}


.awards-header h2 {
    text-shadow: 0 0 1vh rgba(131, 57, 250, 0.614);

    font-family: monospace;

    color: rgb(255, 255, 255);
    font-size:5.25vw;
}

.awards-header p {
    /* color: yellow; */
    font-size: 2.5svh;
}

/* .awards {
    
} */




.footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 1.8vh;
    width: 100%;
    padding: 2vh;
    text-align: right;
}

.products {
    width: 100%;
    
}

.products-header {
    background-color:#10100480;

    text-shadow: 0 0 1vh black;
    font-family: monospace;

    color: white;

    /* background-color: rgb(201, 69, 69); */
    /* margin: 0; */
    padding: .5vh;
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: monospace;
    justify-content: center;
    font-size: 2vh;
}

.products-header h1 {
    font-size: 1.5vh;
    font-style: oblique;
    font-family: monospace;

}


.products-header h2 {
    text-shadow: 0 0 1vh rgba(131, 57, 250, 0.614);

    font-family: monospace;

    color: rgb(255, 255, 255);
    font-size:5.25vw;

}

.products-header p {
    /* color: yellow; */
    font-size: 2.5svh;
}
.article {
    margin: 1vh;
    /* height: 150vh; */
    background-color: rgba(154, 131, 170, 0.277);
    padding: 1.05vh;
}

.article h1 {
    font-size: 2vw;
    padding: .8vh;
    padding-top: 3vh;
   

    border-radius: 1vh;
    /* background-color: rgba(27, 255, 19, 0.179); */
}

.article p {
    font-weight: 850;
    /* color:#fdfd07; */
    font-family: monospace;
    text-align: left;
    font-size: 1.8vw;
    padding-left: 5.1vh;

}
.article h4 {
    font-weight: 850;
    /* color:#fdfd07; */
    font-family: monospace;
    text-align: left;
    font-size: 1.5vw;
    padding-left: 5.1vh;
}
.tictactoe {
    width: 100%;
    background-color: whitesmoke;
}

.board {
    /* margin-left: 25vw; */

    display: flex;
    flex-direction: row;
    width:100%;
    /* height:33vh; */
    flex-wrap: wrap;

}

.space {
    border: .2vh solid black;
    display: flex;
    width: 33.33%;
    height: 10vh;
    justify-content: center;
    text-align: center;
}

#nt-reader {
    width: 100%;
    padding: 1vh;
    /* margin-left: 25vw; */
    background-color: whitesmoke;
    margin-bottom: 20vh
}
#ot-reader {
    width: 100%;
    padding: 1vh;
    /* margin-left: 25vw; */
    background-color: whitesmoke;
    margin-bottom: 20vh
}
@media (min-width: 950px) {
    
    body {
        background-size: cover;
        background-image: url('pdx.jpg');
        /* width: 100%; */
        /* flex-wrap: wrap; */
    }
    main {
        gap:15vh;
        justify-content: space-between;
        /* padding: 20vw; */
        height: 100%;
        width: 100%;
        font-size: 2.8vh;
        /* padding: 5vh; */
        padding-bottom: 5vh;
    }
    main h1 {
        font-size: 20vh;
    }
    main p {
        font-size: 4vh;
        padding: 20vh;
        padding-top: 5vh;
    }
    .about-banner {
        margin-bottom: 5vh;
        background-color: rgba(0, 0, 0, 0.433);
        justify-content: space-evenly;
        position: fixed;
        width: 25vw;
        height: 80%;
        height: 100%;
    }
    .head h1 {
        font-size: 4vh;
    }
    .social-media i {
        color:rgba(0, 0, 255, 0.591);
        font-size: 2.5vw;
        margin-bottom: 5vh;
    }
    
    .menu, .tagline,.social-media {
        font-size: 1vh;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
    }
    .body {
        background-repeat: no-repeat;

        margin-left:25vw;
        /* width: 25vw; */
    }
    .picture img {
        margin-top:12vh;
        height: 8vw;
        width: 8vw;
        box-shadow: 0 0 1vh rgb(75, 51, 255);
    }
    .head {
        background-image: url(pdx.jpg);
        background-size: cover;
        justify-content: center;
        
    }
    
    .about-box h2 {
        font-size: 9vh;
    }

    
    .social-media {
        flex-direction: row;
        /* justify-content: center; */
        /* gap:0 */
    }
    .experience h1 {
        font-size: 4vh;
    }
    .experience h4 {
        font-size: 2.3vh;
    }
    .experience p {
        font-size: 5vh;
    }
    .tictactoe {
        width: 100%;
    
    }
    #nt-reader {
        width: 100%;
        padding: 1vh;
        /* margin-left: 25vw; */
        background-color: whitesmoke;
        margin-bottom: 20vh
    }
    #ot-reader {
        width: 100%;
        padding: 1vh;
        /* margin-left: 25vw; */
        background-color: whitesmoke;
        margin-bottom: 20vh
    }
    .about-banner h1 {
        border-radius: 10vh;
        background-color:rgba(75, 51, 255, 0.325);
        text-shadow:0 0 1vh rgb(191, 189, 198);
    }
    .about-banner h2 {
        font-size: 1.2vw;
    }
    
}

