html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body  {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.099);
    /* background-image: url(pdx.jpg); */
    background-repeat: no-repeat;
    background-position: center;    
}
.head {
    background-image: url(pdx.jpg)
}
.menu {
    padding: 1vh;
    background-color:rgba(137, 43, 226, 0.389);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.body {
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.278);
    display: flex;
    flex-direction: column;
    background-image: url(pdx.jpg);
    background-size: cover;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.about-banner {
    background-repeat: no-repeat;
    background-position: stretch;
    /* background-image: url(pdx.jpg); */
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    justify-content: center;
    margin-bottom: 1vh;
    padding-bottom: 1vh;

}
.refresh {
    height: 10vh;
    font-size: 1.5vh;
    text-shadow:0 0 1vh rgba(0, 0, 255, 0.414);
    color: rgba(255, 255, 255, 0.71);
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;;
    padding: .5vh;
    background-color:rgba(0, 0, 255, 0.143);
    text-transform: uppercase;
    position: fixed;
    /* text-align: right; */
    border: .5vh solid rgba(255, 255, 255, 0.366);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.579);
}

.picture {
    justify-content: center;
    text-align: center;

    /* width: 25vh; */
    /* height: 25vh; */
    align-content: center;

}
.picture img {
    margin-top: 15vh;
    margin-left: 6.25vh;
    margin-right: 6.25vh;
    width: 25vh;
    height: 25vh;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    border: .5vh solid rgba(0, 0, 255, 0.143);
    box-shadow: 0 0 1vh black;
    border-radius: 100vh;
}

.tagline {
    font-size: 4vw;
    box-shadow: 0 0 1vh rgba(0, 0, 255, 0.143);
    margin-bottom: 1vh;
    font-style: oblique;
    font-style: italic; 
    background-color:rgba(0, 0, 255, 0.143);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-banner h1 {
    font-weight: 750;
    letter-spacing: .5vh;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
    text-shadow: 0 0 1vh rgb(0, 0, 255);
    font-size: 7vw;
}

.about-banner h2 {
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.637);
    text-align: center;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.156);
    color: rgb(249, 249, 249);
    text-shadow: 0 0 1vh rgb(0, 0, 255);
}

.about-banner nav {
    box-shadow:rgba(0, 0, 0, 0.099);
    padding: .2vh;
    gap: 1vh;
    border: .8vh solid rgba(0, 0, 0, 0.126);
    margin: .5vh;
    background-color:rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-shadow:0 0 1vh rgb(255, 255, 255);
    color:rgb(65, 12, 255);
    text-decoration: none;
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.175);
    background-color: rgba(5, 3, 3, 0.342);
    font-size: 1.8vh;
    border-radius: 5vh;
    font-style: none;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 800;
}

nav a:hover {

    font-size:1.9vh;
    text-transform: uppercase;
    box-shadow: 0 0 1vh purple;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1vh rgb(0, 0, 0)
}

.social-media {
    /* gap:1%; */
    /* margin-right: 5vh; */
    /* margin-top: 2.5vh; */
    /* text-align:left; */
    /* align-items: center; */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nounderline {
    text-decoration: none;
}

.social-media i {
    box-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.211);
    background-color:rgb(80, 144, 222);
    padding: .70vh;
    margin: 5vh;
    margin-bottom: 1vh;
    border-radius: 100vw;
    border: .1vh solid rgb(255, 255, 255);
    font-size:8vw;
}

.social-media i:hover {
    padding:1.4vh;
    text-shadow: 0 0 1vh rgb(255, 120, 143);
    box-shadow: 0 0 1vh rgb(255, 125, 147);
}

main {
    background-image: url(pdx_crop.jpg);
    background-size: cover;
    /* line-height: 4vh; */
    font-family: Helvetica;
    font-weight: 500;
    letter-spacing: .15vh;
    padding: 5vh;
    margin: 1vh;
    text-align: center;
    justify-content: center;
    font-size:2vh;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color:rgba(248, 248, 248, 0.389);
    /* width: 50vh; */
    /* height: 50vh; */
}

main a {
    font-weight: 750;
    color: #fdfd07;
    text-shadow: 0 0 1vh rgb(62, 7, 7);
}

.projects {
    background-color:rgba(65, 12, 255, 0.244);
    /* margin: 0; */
    /* width: 90%; */
    /* height: 200vh; */
}

main h1 {
    font-family: helvetica;
    color: white;
    text-shadow: 0 0 1vh black;

}
main p {
    font-weight: 650;
    letter-spacing: .1vh;
    font-family: helvetica;
    color: white;
    text-shadow: 0 0 1vh black;

}

.slide {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

video {
    padding: 1vh;
    height: 100%;
    width: 100%;

}

audio {
    /* margin-left: 27.5vw; */
    /* margin-top: 92.5vh;  */
    text-align: right;
    display: block;
    /* position: fixed; */
    color:rgb(249, 249, 249);
}

.about {
    text-shadow: 0 0 1vh black;

    background-image: url(pdx.jpg);
    font-family: Helvetica;
    gap: 1vh;
    padding:.8vh;
    background-color:rgba(0, 0, 0, 0.375);
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* width: 100%; */
    justify-content: space-between;
}

.about1 img {
    width: 100%;
    /* height: 100%; */
}

.about1 {
    color: white;
    gap: .8vh;
    font-family: Helvetica;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}


.about-box {
    text-shadow: 0 0 1vh black;

    letter-spacing: .35vh;
    /* width: 75vw; */
    font-size: 1.8vh; 
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.204);
    font-family: Helvetica;
    text-align: center;
    padding: 1vh;
    justify-content: space-around;
}

.about-box h2 {
    text-shadow: 0 0 1vh black;
    background-color: rgba(0, 0, 0, 0.152);
    border-radius: 15vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.292);
}

.about-text {
    text-shadow: 0 0 1vh black;

    font-size: 1vh;
    font-family: Helvetica;
    text-align: center;
    margin: .8vh;
    /* justify-content: center; */
}

.about-header {
    align-items: baseline;

    text-shadow: 0 0 1vh black;
    font-family: Helvetica;
    justify-content: center;
    color: white;

    background-color: rgb(201, 69, 69);
    /* margin: 0; */
    padding: .5vh;
    /* text-align: center; */
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;

    font-size: 1vh;
}

.about-header h1 {
    font-size: 2vh;
    font-style: oblique;
    align-content: center;
}

.about-header p {
    text-shadow: 0 0 1vh black;
    color: yellow;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: baseline;
    font-size: 3vh;
}

.about-header h2 {
    
    text-shadow: 0 0 1vh black;
    color: rgb(51, 204, 255);
    font-size: 5vh;
}

.home-banner{
    /* width: 25%; */
    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-size: 2.9vh;
    color: rgba(62, 6, 6, 0.59);
    margin: .9vh;
    gap:1vh;
    padding: 1vh;
    /* background-color: white; */
}

.about2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section {
    font-family: Helvetica;

    /* margin:0; */
    /* padding: 0; */
    /* margin-top: 12.5%; */
    /* margin-bottom: 12.5%; */
    /* margin-left: 12.5%; */
    /* margin-right: 12.5%;  */
    /* height: 50%; */
    /* width: 50%; */

}

.maps iframe{
    /* justify-content: center; */
    /* text-align: center; */
    /* align-content: center; */
    /* margin: 0; */
    height: 100%;
    width: 100%;
}

.title {

    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
    letter-spacing: .2vh;
    color: rgba(159, 0, 0, 0.782);
    padding: 3vh;
    background-color:rgba(80, 144, 222, 0.407);
    text-align: center;
    font-size: 3.8vh;
    text-transform: capitalize;
}

.wobbly {
    text-shadow: 0 0 1vh black;
    margin-top: 1vh;
    color:rgb(80, 222, 125);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: rotate(-20deg);
}

.experience {
    color: white;
    font-size: 2.2vh;
    background-image: url(shack_and_i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
    gap: 1vh;
    padding:.8vh;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    justify-content: flex-start;

}

.exp-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;

    color: white;

    background-color: rgb(201, 69, 69);
    /* margin: 0; */
    padding: .5vh;
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;
    justify-content: center;
    font-size: 2vh;
}

.exp-header h1 {
    font-size: 1.5vh;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


.exp-header h2 {
    color:rgb(51, 204, 255);
    font-size: 5.25vh;
    /* font-style: oblique; */

}

.exp-header p {
    color: yellow;
    font-size: 2.5svh;
}
.exp-body {
    /* height: 150vh; */
    background-color: rgba(99, 14, 159, 0.277);
    padding: 1.05vh;
}

.exp-body h1 {
    font-size: 2vh;
    padding: .8vh;
    padding-top: 3vh;
   

    border-radius: 1vh;
    background-color: rgba(27, 255, 19, 0.179);
}

.exp-body p {
    font-weight: 850;
    color:#fdfd07;
    font-family: monospace;
    text-align: left;
    font-size: 1.8vh;
    padding-left: 5.1vh;

}
.exp-body h4 {
    font-weight: 850;
    /* color:#fdfd07; */
    /* font-family: monospace; */
    text-align: left;
    font-size: 1.5vh;
    /* padding-left: 5.1vh;s */
}

.projects {
    background-image: urL(324.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.slide h1, .practicum h1 {
    
    font-family:Georgia, 'Times New Roman', Times, serif;

    padding:  1vh;
    text-shadow: 0 0 1vh rgb(255, 248, 248);
    color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0.636);
    font-size: 5vh;
}

.slide p {
    text-shadow: 0 0 1vh black;
    line-height: 3.5vh;
    letter-spacing: .2vh;
    padding: 7.5vh;
    padding-left: 1vh;
    font-weight: 550;
    text-align: left;
    color: white;
    background-color:rgba(80, 222, 125, 0.307);
    font-family: Helvetica;

    /* padding: 5vh; */
    margin: 1vh;
    font-size: 2.5vh;
    /* padding: 5vh */
}


.projects-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;

    color: rgb(255, 0, 0);

    background-color: rgba(201, 69, 69, 0.907);
    margin: 0;
    /* padding: .8vh; */
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;
    justify-content: center;
    font-size: 2vh;
}

.projects-header p {

    padding: 1vh;
    margin: 0;
    color: yellow;
    /* height: 100%; */
    text-align: center;
    display: flex;
    /* justify-content: stretch; */
    font-size: 2.5vh;
}

.projects-header h1 {
    padding: 1vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic; 
        /* margin: 0; */
    color: rgb(255, 2, 2);
    font-size: 1.5vh;
}
.projects-header h2 {


    font-family: Helvetica;
        /* margin: 0; */
    color: rgb(51, 204, 255);
    font-size:5.25vh;
}



.practicum {
    font-family: Helvetica;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.practicum p {
    text-shadow: 0 0 1vh black;
    line-height: 3.5vh;
    letter-spacing: .2vh;
    padding: 7.5vh;
    padding-left: 1vh;
    font-weight: 550;
    text-align: left;
    color: white;
    background-color:rgba(80, 222, 125, 0.241);
    font-family: Helvetica;

    /* padding: 5vh; */
    margin: 1vh;
    font-size: 2.5vh;
    /* padding: 5vh */
}




.practicum img {
    border: .5vh solid rgba(228, 58, 58, 0.256);
    padding: .2vh;
    width: 33.3%
}

.about1 .box {
    font-weight: 550;
    padding: 1vh;
    /* font-family: Helvetica; */
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.349);
}



.box h2 {
    text-align: center;
    font-size: 3vh;
}


.box p {
    color:rgba(127, 255, 212, 0.634);
    font-size: 1.5vh;
    font-style:oblique;
    padding-left: 1vh;
    /* text-indent: 1vh; */
}

.blurb {
    text-shadow: 0 0 1vh black;
    text-align: left;
    font-size: 2vh;
    color: white;
    background-color: rgba(33, 12, 12, 0.379);
    /* margin: 1vh; */
    padding-left:2vh;
    padding-right:5vh;
}
.blurb ul {
    
    font-weight: 550;
    gap: 1vh;
    text-shadow: 0 0 1vh rgb(248, 15, 15);
    text-transform: uppercase;
    font-size: 3vh;

}

.blurb li {
    font-family: monospace;
    text-shadow: 0 0 1vh rgb(0, 21, 255);
    text-transform: lowercase;
    font-size: 2vh;

}

.blurb h1 {
    text-shadow: 0 0 1vh black;
    font-weight: 450;
    letter-spacing: .6vh;
    padding: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.188);
}
.awards-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;

    color: white;

    background-color: rgba(201, 69, 69, 0.907);
    margin: 0;
    /* padding: .8vh; */
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;
    justify-content: center;
    font-size: 2vh;
}
.awards-header h1 {
    font-size: 2.8vh;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


.awards-header h2 {
    color:rgb(51, 204, 255);
    font-size: 5.25vh;
    /* font-style: oblique; */

}

.awards-header p {
    color: yellow;
    font-size: 2.5svh;
}

.awards {
    
}




.footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 1.8vh;
    width: 100%;
    padding: 2vh;
    text-align: right;
}
@media (min-width: 950px) {
    body {
        background-size: cover;
        background-image: url(pdx.jpg);
        /* width: 100%; */
        /* flex-wrap: wrap; */
    }
    main {
        /* padding: 20vw; */
        height: 150vw;
        font-size: 2.8vh;
    }
    main h1 {
        font-size: 20vh;
    }
    main p {
        padding: 20vh;
    }
    .about-banner {
        background-color: rgba(0, 0, 0, 0.062);
        justify-content: space-evenly;
        position: fixed;
        width: 25vw;
        /* height: 80%; */
        height: 100%;
    }
    .head h1 {
        font-size: 4vh;
    }
    .social-media i {
        font-size: 3vh;
    }
    
    .menu, .tagline, .social-media {
        font-size: 1vh;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
    }
    .body {
        background-repeat: no-repeat;

        margin-left:25vw;
        /* width: 25vw; */
    }
    .picture img {
        /* margin-top:35vh; */
        height: 25vh;
        width: 25vh;
        box-shadow: 0 0 1vh rgb(75, 51, 255);
    }
    .head {
        background-image: url(pdx.jpg);
        background-size: cover;
        justify-content: center;
    }
    .menu {
        width: 25vw;
        justify-content: space-around;
        /* align-items: flex-end; */
        position: fixed;
        /* text-align: right; */
        flex-direction: row;
    }
    .refresh {
        height:12vh;
        margin-left: 25vw;
        /* margin-top:5vh; */
    }
    .social-media {
        flex-direction: row;
        justify-content: center;
        gap:0
    }
    .experience h1 {
        font-size: 4vh;
    }
    .experience h4 {
        font-size: 2.3vh;
    }
    .experience p {
        font-size: 2vh;
    }
}
