html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body  {
    background-color: rgba(0, 0, 0, 0.099);
    /* background-image: url(pdx.jpg); */
    background-repeat: no-repeat;
    background-position: center;    
}

.body {
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.278);
    display: flex;
    flex-direction: column;
    background-image: url(pdx.jpg);
    background-size: cover;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.about-banner {
    background-repeat: no-repeat;
    background-position: stretch;
    /* background-image: url(pdx.jpg); */
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    justify-content: center;
    margin-bottom: 1vh;
    padding-bottom: 1vh;

}
.refresh {
    text-shadow:0 0 1vh rgba(0, 0, 255, 0.414);
    color: rgba(255, 255, 255, 0.71);
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;;
    padding: .5vh;
    background-color:rgba(0, 0, 255, 0.143);
    text-transform: uppercase;
    position: fixed;
    /* text-align: right; */
    border: .5vh solid rgba(255, 255, 255, 0.366);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.579);
}

.picture {
    justify-content: center;
    text-align: center;

    /* width: 25vh; */
    /* height: 25vh; */
    align-content: center;

}
.picture img {
    margin-top: 5vh;
    margin-left: 6.25vh;
    margin-right: 6.25vh;
    width: 25vh;
    height: 25vh;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    border: .5vh solid rgba(0, 0, 255, 0.143);
    box-shadow: 0 0 1vh black;
    border-radius: 100vh;
}

.tagline {
    font-size: 4vw;
    box-shadow: 0 0 1vh rgba(0, 0, 255, 0.143);
    margin-bottom: 5vh;
    font-style: oblique;
    font-style: italic; 
    background-color:rgba(0, 0, 255, 0.143);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-banner h1 {
    font-weight: 750;
    letter-spacing: .5vh;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
    text-shadow: 0 0 1vh rgb(0, 0, 255);
    font-size: 7vw;
}

.about-banner h2 {
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.637);
    text-align: center;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.156);
    color: rgb(249, 249, 249);
    text-shadow: 0 0 1vh rgb(0, 0, 255);
}

.about-banner nav {
    box-shadow:rgba(0, 0, 0, 0.099);
    padding: .2vh;
    gap: 1vh;
    border: .8vh solid rgba(0, 0, 0, 0.126);
    margin: .5vh;
    background-color:rgba(255, 255, 255, 0.166);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-shadow:0 0 1vh rgb(255, 255, 255);
    color:rgb(65, 12, 255);
    text-decoration: none;
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.175);
    background-color: rgba(5, 3, 3, 0.342);
    font-size: 1.8vh;
    border-radius: 5vh;
    font-style: none;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 800;
}

nav a:hover {
    font-size:1.4vh;
    text-transform: uppercase;
    box-shadow: 0 0 1vh purple;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1vh rgb(0, 0, 0)
}

.social-media {
    gap:1%;
    margin-right: 5vh;
    margin-top: 2.5vh;
    justify-content: flex-end;
    /* text-align:left; */
    /* align-items: center; */
    display:flex;
    flex-direction: row;
}

.nounderline {
    text-decoration: none;
}

.social-media i {
    box-shadow: .5vh .51vh .5vh rgba(0, 0, 0, 0.211);

    background-color:rgb(80, 144, 222);
    padding: 1vh;
    margin: 1vh;
    border-radius: 25vh;
    border: .1vh solid rgb(255, 255, 255);
    font-size:4vh;
}

.social-media i:hover {
    /* padding:1.5vh; */
    text-shadow: 0 0 1vh rgb(255, 120, 143);
    box-shadow: 0 0 1vh rgb(255, 125, 147);
}

main {
    /* line-height: 4vh; */
    font-family: Helvetica;
    font-weight: 500;
    letter-spacing: .15vh;
    padding: 1vh;
    margin: 1vh;
    text-align: center;
    justify-content: center;
    font-size:2vh;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color:rgba(248, 248, 248, 0.389);
    /* width: 50vh; */
    /* height: 50vh; */
}

.projects {
    background-color:rgba(65, 12, 255, 0.244);
    /* margin: 0; */
    /* width: 90%; */
    /* height: 200vh; */
}

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

video {
    margin: 0;
    height: 100%;
    width: 100%;

}

audio {
    /* margin-left: 27.5vw; */
    /* margin-top: 92.5vh;  */
    text-align: right;
    display: block;
    /* position: fixed; */
    color:rgb(249, 249, 249);
}

.about {
    background-image: url(pdx.jpg);
    font-family: Helvetica;
    gap: 1vh;
    padding:.8vh;
    background-color:rgba(0, 0, 0, 0.375);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */

    justify-content: flex-start;
}

.banner-image {
    width: 50vw;
    height: 50vw;
}

.about1 {
    color: white;
    gap: .8vh;
    font-family: Helvetica;
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}


.about-box {
    letter-spacing: .35vh;
    width: 75vw;
    font-size: 1.8vh; 
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.204);
    font-family: Helvetica;
    text-align: center;
    padding: 1vh;
    justify-content: center;
}

.about-text {
    font-size: 1vh;
    font-family: Helvetica;
    text-align: center;
    margin: .8vh;
    /* justify-content: center; */
}

.about-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;
    justify-content: center;
    color: white;

    background-color: rgb(201, 69, 69);
    margin: 0;
    padding: .5vh;
    /* text-align: center; */
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;

    font-size: 2vh;
}

.about-header p {
    text-shadow: 0 0 1vh black;
    color: yellow;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: baseline;
    font-size: 2.5vh;
}

.about-header h2 {
    
    text-shadow: 0 0 1vh black;
    color: rgb(51, 204, 255);
    font-size: 3vh;
}

.home-banner{
    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-size: 2.9vh;
    color: rgba(62, 6, 6, 0.59);
    margin: .9vh;
    gap:1vh;
    padding: 1vh;
    /* background-color: white; */
}

.about2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

section {
    font-family: Helvetica;

    /* margin:0; */
    /* padding: 0; */
    /* margin-top: 12.5%; */
    /* margin-bottom: 12.5%; */
    /* margin-left: 12.5%; */
    /* margin-right: 12.5%;  */
    height: 100%;
    width: 100%;

}

.maps {
    justify-content: center;
    text-align: center;
    align-content: center;
    /* margin: 0; */
    height: 100%;
    width: 100%;
}

.about h4 {

    text-shadow: 0 0 1vh rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
    letter-spacing: 1.5vh;
    color: rgb(159, 0, 0);
    padding: 3vh;
    background-color:rgba(80, 144, 222, 0.407);
    text-align: center;
    font-size: 2.2vh;
    text-transform: capitalize;
}


.experience {
    background-image: url(pdx.jpg);
    font-family: Helvetica;
    gap: 1vh;
    padding:.8vh;
    background-color:rgba(0, 0, 0, 0.375);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */

    justify-content: flex-start;

}

.exp-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;

    color: white;

    background-color: rgb(201, 69, 69);
    /* margin: 0; */
    padding: .5vh;
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;
    justify-content: center;
    font-size: 2vh;
}


.projects p, .slide p {
    font-family: Helvetica;

    padding: 5vh;
    margin: 3.5vh;
    font-size: 2.5vh;
    /* padding: 5vh */
}

.projects-header {
    text-shadow: 0 0 1vh black;
    font-family: Helvetica;

    color: white;

    background-color: rgb(201, 69, 69);
    margin: 0;
    padding: .8vh;
    align-items: baseline;
    display: flex;
    gap: 1vh;
    flex-direction: row;
    font-family: Helvetica;
    justify-content: center;
    font-size: 2vh;
}

.projects-header p {

    padding: 1vh;
    margin: 0;
    color: yellow;
    /* height: 100%; */
    text-align: center;
    display: flex;
    /* justify-content: stretch; */
    font-size: 2.5vh;
}

.projects-header h1 {
    padding: 1vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic; 
        /* margin: 0; */
    color: rgb(255, 255, 255);
    font-size: 3vh;
}
.projects-header h2 {


    font-family: Helvetica;
        /* margin: 0; */
    color: rgb(51, 204, 255);
    font-size: 3vh;
}

.projects h1 {
    font-family: Helvetica;

    font-size: 3vh;
    padding:  1vh;
}


.practicum {
    font-family: Helvetica;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.practicum img {
    border: .5vh solid rgba(0, 0, 0, 0.464);
    padding: 2vh;
    width: 33.3%
}

.about1 .box {
    font-weight: 550;
    padding: 1vh;
    font-family: Helvetica;
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.349);
}
















footer {
    font-size: 1.8vh;
}